:root{

--color-primary: #fcfcfc;
--color-primary-dark:#686868;
--color-primary: #d3d3dc;
--color-navbar: #2d2a26;
--color-navbar-hover:#666466;
--color-: #cfcdcf;

--color-aside:#e4c8a1;
--color-texto:#181613;
--color-header:#dedad9;
--color-gradient:-45deg, #FFC796 0%, #FF6B95 100%;
}